<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--加载属性文件-->
    <properties resource="db.properties"/>
    <!-- 和spring整合后 environments配置将废除-->
    <environments default="development">
        <environment id="development">
            <!-- 使用jdbc事务管理-->
            <transactionManager type="JDBC" />
            <!-- 数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>
    <!--加载映射文件-->
    <mappers>
        <mapper resource=""/>
        <!--通过mapper接口加载映射文件
        规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在同一目录下
        上述规范的前提是：使用mapper代理的方法
        -->
<!--        <mapper class="cn.edu.wtu.mapper.UserMapper"></mapper>-->

        <!--批量加载
        指定mapper接口的包名，mybatis自动扫描包下所有mapper接口进行加载
        规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在同一目录下
        上述规范的前提是：使用mapper代理的方法
        -->
<!--        <package name="cn.edu.wtu.mapper."></package>-->
    </mappers>
</configuration>